body {
    background-color: #000;
}

.contenedor {
    background-color: white;
    padding: 100px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.titulo {
    grid-column: 1/4;
    grid-row: 1;
    font-style: oblique;
    color: #4CAF50;
    font-size: 100px;
    text-decoration: underline;
    text-align: center;
    
}

#perfil {
    border: 3px solid black;
    border-radius: 75px;
    grid-column: 1;
    grid-row: 2;
    width: 250px;
    height: auto;
}

.mensaje {
    color: black;
    font-size: auto;
    margin: 30px 0 0 30px;
    padding: 20px;
    width: auto;
    height: auto;
    grid-column: 2/4;
    grid-row: 2;
    font-size: 30px;
}

.menu {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.botones {
    padding: 20px;
    background-color: #4CAF50;
    color: rgb(252, 244, 244);
    font-size: 30px;
    border: 1px black solid;
    border-radius: 25px;
    box-shadow: 1px 2px black, 0 0 25px black;
    max-width: 300px;
    height: 100PX;
    cursor: pointer;
  }
   
.menu-content {
    display: none;
    position: relative;
    color:rgb(2, 6, 8);
    background-color: #f9f7f7;
    font-size: 30px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 30px;
    z-index: 1;
    padding: 20px;
    
}


.menu:hover .menu-content {
    display: inline-block;

}


.menu-content ul {
    text-decoration: none;
    text-align: center;
   
}
  

#botonDP {
    grid-column: 1;
    grid-row: 1;
    
}

#botonDE {
    grid-column: 2;
    grid-row: 1;
    
}

#botonDH {
    grid-column: 3;
    grid-row: 1;
    
}

#ajustes {
    grid-column: 3/4;
    grid-row: 4;
    gap:20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}